<div class="ngrx">
    <div class="ngrx__title">
        <img src="../../../assets/imgs/ngrx-logo.svg" />
        <h1>Manage form state with NgRx</h1>
    </div>

    <div class="ngrx__actions">
        <button 
            type="button" 
            class="ngrx__action-btn" 
            mat-button 
            color="primary"
            (click)="undoLastChange()"
            [disabled]="!undoEnabled">
            <mat-icon>undo</mat-icon>
            Undo<span> Change</span>
        </button>
        <button 
            type="button" 
            class="ngrx__action-btn" 
            mat-button 
            color="primary"
            (click)="redoLastChange()"
            [disabled]="!redoEnabled">
            <mat-icon>redo</mat-icon>
            Redo<span> Change</span>
        </button>
        <button 
            type="button" 
            class="ngrx__action-btn" 
            mat-button 
            color="primary"
            (click)="resetForm()"
            [disabled]="!resetEnabled">
            <mat-icon>restart_alt</mat-icon>
            Reset<span> Form</span>
        </button>
    </div>

    <app-user-form [userData]="userData" (saveUser)="saveUserData($event)"></app-user-form>
</div>