.user-form {
    padding: 15px 0;
    display: flex;
    gap: 30px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 5px;

        &__column {
            max-width: 400px;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        gap: 5px;
    }

    &__interest-options {
        display: flex;
        flex-wrap: wrap;

        mat-checkbox {
            flex-basis: 50%;
        }
    }

    &__phone-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h3 {
            margin-bottom: 0;
        }
    }

    &__phone-field {
        display: flex;
        justify-content: center;
        align-items: baseline;

        mat-form-field {
            width: 100%;
        }

        mat-icon {
            padding: 10px;
            cursor: pointer;

            &.disabled {
                opacity: 0.25;
                cursor: default;
            }
        }
    }
}