main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
}

form {
    max-width: 400px;
    min-width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.interests {
    &__options {
        display: flex;
        flex-wrap: wrap;

        mat-checkbox {
            width: 200px;
        }
    }
}

.submit-btn {
    margin-top: 10px;
}