$font-size: 15px;
$hover-font-size: 16px;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

    &__images {
        margin: 15px;
        display: flex;

        img {
            max-height: 120px;

            @media (max-width: 768px) {
                max-height: 80px;
            }
        }
    }

    &__content {
        max-width: 500px;
        min-width: 250px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        h1 {
            text-align: center;
            margin-bottom: 5px;
            font-weight: 500;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1, h2 {
            margin-bottom: 0;
        }

        h2 {
            color: var(--secondary-font);
        }
    }

    &__actions {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 10px;
        gap: 15px;
    }

    &__action-link {
        font-size: $font-size;
        font-weight: 500;
        display: flex;
        align-items: center;
        text-align: right;
        gap: 2px;
        cursor: pointer;

        mat-icon {
            font-size: $font-size;
            width: $font-size;
            height: $font-size;
        }

        &:hover {
            color: var(--secondary-font);
            font-size: $hover-font-size;
            text-decoration: underline;
            transition: font-size 0.5s;

            mat-icon {
                font-size: $hover-font-size;
                transition: font-size 0.5s;
            }
        }
    }

    &__objective {
        h3 {
            font-weight: 500;
            color: var(--secondary-font);
        }
    }
}