/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #42116F;
    --secondary: #DC12BF;
    --font: #3D3C3A;
    --secondary-font: var(--primary);
    --header-height: 58px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*:not(button) > {
    h1, h2, h3, h4, h5, h6, p, span, small {
        color: var(--font);
    }
}

h1, h2, h3, h4, h5, h6, p, span, small {
    &.vs-font {
        font-family: "Fontdiner Swanky", serif;
    }
}